{{#partial "content"}}

    {{#if newName}}
        <h1>Name updated!</h1>
        <p>Team Name: {{ newName.name }}</p>
        <p>Team Description: {{ newName.description }}</p>
        <p>Team Members:</p>
        <ul>
            {{#each newName.members}}
                <li>{{ first }} {{ last }} <a href="/members/{{id}}/remove-member"><span class="glyphicon glyphicon-remove"></span></a></li>
            {{/each}}
        </ul>
        <p><a href="/teams/{{newName.id}}/update-name">Edit Name</a></p>
        <p><a href="/teams/{{newName.id}}/add-member">Add Member</a></p>
        <p><a href="/teams/{{newName.id}}/remove-members">Remove All Members From Team</a></p>
    {{else if addMember}}
        <h1>Member Added!</h1>
        <p>Team Name: {{ addMember.name }}</p>
        <p>Team Description: {{ addMember.description }}</p>
        <p>Team Members:</p>
        <ul>
            {{#each addMember.members}}
                <li>{{ first }} {{ last }} <a href="/members/{{id}}/remove-member"><span class="glyphicon glyphicon-remove"></span></a></li>
            {{/each}}
        </ul>
        <p><a href="/teams/{{addMember.id}}/update-name">Edit Name</a></p>
        <p><a href="/teams/{{addMember.id}}/add-member">Add Member</a></p>
        <p><a href="/teams/{{addMember.id}}/remove-members">Remove All Members From Team</a></p>
    {{else if team}}
        <h1>Team Added!</h1>

        <h2>Team Details:</h2>
        <p>Team Name: {{ team.name }}</p>
        {{# if team.description}}
            <p>Team Description: {{ team.description }}</p>
        {{/if}}
        {{#if team.members}}
            <p>Team Members:</p>
            <ul>
                {{#each team.members}}
                    <li>{{ first }} {{ last }} <a href="/members/{{id}}/remove-member"><span class="glyphicon glyphicon-remove"></span></a></li>
                {{/each}}
            </ul>
        {{else}}
            <p>No members yet</p>
        {{/if}}
    {{else}}
        <h1>Success!</h1>
    {{/if}}

{{/partial}}

{{> layout.hbs}}